body{
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    
    .userCards{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
    
        .userCard {
            display: flex;
            align-items: center;
            background-color: #e0ecff;
            border-radius: 16px;
            padding: 20px;
            gap: clamp(20px, 8vw, 60px);
            width: clamp(320px, 80vw, 550px);
            transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
          
            &:hover {
              background-color: white;
              transform: scale(1.01);
              box-shadow: 0 0 5px #4270b9;
            }
          
            &__img {
              border-radius: 100%;
              width: clamp(80px, 20vw, 150px);
              height: clamp(80px, 20vw, 150px);
            }
          
            &__info {
              display: flex;
              flex-direction: column;
              gap: 16px;
          
              h3 {
                font-weight: bold;
                font-size: clamp(20px, 6vw, 32px);
                margin: 0;
              }
          
              p {
                font-size: clamp(16px, 5vw, 24px);
                font-weight: 500;
                margin: 0;
              }
          
              a {
                border: 1px solid #7ca9f2;
                border-radius: 50px;
                text-decoration: none;
                color: #4a6fa1;
                text-align: center;
                padding: 8px 24px;
                font-weight: 600;
                font-size: clamp(14px, 4vw, 18px);
                transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
          
                &:hover {
                  background-color: #7ca9f2;
                  border-color: #7ca9f2;
                  color: #ffffff;
                  box-shadow: 0 0 8px #7ca9f2;
                }
              }
            }
        }
    }
}



  